@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Serif+Text:ital@0;1&family=Google+Sans:ital,opsz,wght,GRAD@0,17..18,400..700,68;1,17..18,400..700,68&display=swap");

:root {
  --color-primary: #ffffff;
  --color-secondary2: #175d2b;
  --color-secondary: #196c33;
  --font-poppins: "Poppins", sans-serif;
  --font-amatic: "Amatic SC", sans-serif;
  --font-googlesans: "DM Serif Text", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins);
}